html, body {
  height: 100%;
  overflow: hidden;
}
body {
  color: white;
  position: relative;
  background-color: #10304f;
}
.container {
  height: 100%;
}

section {
  height: 100%;

}
.my-wave {
  transition: all 3s;
  z-index: -1;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.my-wave_active {
  transform: translateY(-70%) rotate(180deg);
}

.fish {
  z-index: -1;
  transition: 3s;
  transform: translateX(50vw);
  position: absolute;
  bottom: -100%;
  left: 50%;
}

.fish_active {
  transform:  translateX(-100px) translateY(-50%);
}

.btn {
  margin-top: 1em;
}

.wave {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
}